*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu_top {
    width: 30%;
    background-color: rgb(61, 154, 216);
    border: 1px solid blue;
    margin: 8px auto 0 auto;
}

.menu_top ul {
    display: flex;
    flex-direction: column;
    
}

.menu_top li {
    list-style-type: none;
}

.menu_top a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    border: 1px solid blue;
    
}

.menu_top a:hover{
    background-color: white;
    color: rgb(61, 154, 216);
}